<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <%- include("../../partials/head"); %>

  <link rel="stylesheet" href="/assets/css/products.css" />
</head>

<body>
  <header>
    <%- include("../../partials/header"); %>
  </header>
  
  <%
    if(data.product) {
    const { product } = data;
  %>
  <h1 class="product-title"><%- product.name %></h1>

  <div class="container">
    <div class="left">
      <img class="product-image" src="<%- product.image %>" />
    </div>
    <div class="right">
      <div>
        <h2>Prices</h2>
        
        <div class="product-prices-list">
          <!-- <h3>&#x20B9;14899</h3>
          <h3>&#x20B9;15699</h3> -->
          <% for (const price of product.prices) {
          %>
          <h3>&#x20B9;<%= price.price %></h3>
          <%
          }
          %>
        </div>
      </div>
      <h1>
        FEATURES
      </h1>
      <h2>
        <!-- features here -->
        <%- product.features %>
      </h2>
      <div class="button-buy">
        <div class="button-bar">
          <button>
            <img
              src="https://imgs.search.brave.com/XM5qRhf8MNxqTyuAl09tjJX9ZQOzmpTK5DuE7hO8F0c/rs:fit:400:400:1/g:ce/aHR0cDovL2ZyZWV2/ZWN0b3IuY28vd3At/Y29udGVudC91cGxv/YWRzLzIwMDkvMDkv/NDk5NTgtbGlnaHRu/aW5nLWJvbHQtc3lt/Ym9sLW9mLWZsYXNo/LnBuZw"
              width="30px" height="20px">
            BUY NOW</button>
          <button>
            <img
              src="https://imgs.search.brave.com/aUecr4Z_iVEe733FN9ZSv5Y6B1Oj5tesNiQUOZHJFyc/rs:fit:450:470:1/g:ce/aHR0cHM6Ly9jb21w/cy5jYW5zdG9ja3Bo/b3RvLmNvbS9pY29u/LW9mLWNvbnN0cnVj/dGlvbi1jYXJ0LXZl/Y3Rvci1jbGlwYXJ0/X2NzcDQwNDI4OTAy/LmpwZw"
              width="30px" height="20px">
            ADD CART</button>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="product-description">
    <h2>
      DESCRIPTION
    </h2>
  
    <h3>
      <%- product.description %>
    </h3>
  </div>
  <% } else { %>
  <div>
    Product not found
  </div>
  <% } %>

</body>

</html>